
<div class="header py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
     
    </div>
  </div>
</div>
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card  shadow border-0" style="background-color: rgb(235, 230, 230, 1%); margin-top:3rem">
        <p></p>
        <div class="card-body px-lg-5 py-lg-5" >
          <form role="form">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-single-02"></i></span>
                </div>
                <input class="form-control" placeholder="Name" type="text">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" type="email">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password" type="password">
              </div>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span  style=" color: #212529;">I agree with the <a href="Void:0">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="button" class="btn btn-dark mt-4">Create account</button> 
            </div>
            <br>
            <div class="text-center">
            <span style=" color: #212529;"><b>Or</b></span>
            </div>
            <div class="text-center">
            <button type="button" class="btn btn-dark my-4" [routerLink]="['/login']" style="border: none;">LogIn</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

