  
<nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
  <div class="container-fluid">

    <div class="header-body">
     
    </div>
  </div>
    <!-- Brand -->

    <!-- Form -->
    <!-- User -->
    <ul class="navbar-nav align-items-center d-none d-md-flex">
      
      <li class="nav-item" ngbDropdown placement="bottom-right">
    <a class="nav-link"  (click)="logout()" role="button" ngbDropdownToggle>
      <div class="media align-items-center">
          <i class="ni ni-button-power  " style="font-size: larger;color: #000000;"></i>
      </div>
    </a>
  </li>
</ul>
</nav>
